@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0.00 100.00% 98.43%;
    --foreground: 0.00 61.29% 6.08%;
    
    --primary: 0.00 100.00% 61.57%;
    --primary-foreground: 0.00 0.00% 100.00%;
    
    --card: 0.00 100.00% 98.43%;
    --card-foreground: 0.00 61.29% 6.08%;
    
    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 0.00 61.29% 6.08%;
    
    --secondary: 0.00 100.00% 94.31%;
    --secondary-foreground: 0.00 66.67% 2.35%;
    
    --muted: 0.00 100.00% 96.08%;
    --muted-foreground: 0.00 0.00% 40.00%;
     
    --accent: 0.00 100.00% 96.08%;
    --accent-foreground: 0.00 100.00% 61.57%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 0.00 0.00% 90.20%;
    --input: 0.00 0.00% 90.20%;
    --ring: 0.00 100.00% 61.57%;
    
    --radius: 0.5rem;
  }

  html {
    font-family: "Outfit", system-ui, sans-serif;
  }

  body {
    color: #001F3F;
    background-color: #FAFCFB;
  }
 
  .dark {
    --background: 0.00 66.67% 2.35%;
    --foreground: 0.00 100.00% 94.31%;
    
    --primary: 0.00 100.00% 61.57%;
    --primary-foreground: 0.00 0.00% 100.00%;
    
    --card: 0.00 66.67% 2.35%;
    --card-foreground: 0.00 100.00% 94.31%;
    
    --popover: 0.00 66.67% 2.35%;
    --popover-foreground: 0.00 100.00% 94.31%;
    
    --secondary: 0.00 61.82% 21.57%;
    --secondary-foreground: 0.00 0.00% 100.00%;
    
    --muted: 0.00 11.48% 11.96%;
    --muted-foreground: 0.00 1.61% 51.37%;
     
    --accent: 0.00 61.82% 21.57%;
    --accent-foreground: 0.00 100.00% 94.31%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 0.00 0.00% 14.90%;
    --input: 0.00 0.00% 14.90%;
    --ring: 0.00 100.00% 61.57%;
    
    --radius: 0.5rem;
  }
}
